
.BoardGeneratorForm-form {
  display: flex;
  align-items: center;
  height: 100%;
  align-items: stretch;
}

.BoardGeneratorForm-formContainer input{
  margin: 5px auto;
}

.BoardGeneratorForm-itemsContainer img {
  height: 3vh;
}

.BoardGeneratorForm-itemsContainer, .BoardGeneratorForm-formContainer {
  background: rgb(54, 211, 54);
  padding: 2vh;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid green;
}

.BoardGeneratorForm-formContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.BoardGeneratorForm-fruitContainer, .BoardGeneratorForm-vegetableContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100px;
}

.BoardGeneratorForm-fruitContainer label, .BoardGeneratorForm-vegetableContainer label {
  display: flex;
  flex-direction: column;
}
.BoardGeneratorForm-selectAll {
  font-size: 1.5vh;
}