.BoardGeneratorForm-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.BoardGeneratorForm-form input{
  margin: 5px auto;
}

.BoardGeneratorForm-form img {
  height: 3vh;
}

.BoardGeneratorForm-fruitContainer, .BoardGeneratorForm-vegetableContainer {
  display: flex;
  flex-direction: row;
}

.BoardGeneratorForm-fruitContainer label, .BoardGeneratorForm-vegetableContainer label {
  display: flex;
  justify-content: flex-start;
  flex-direction: column
}
.BoardGeneratorForm-selectAll {
  font-size: 1.5vh;
}