.UserPanel {
    display: flex;

    height: 300px;
    background: linear-gradient(124deg, #75d924, #3b7f04);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
}


.UserPanelAvatar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: darkgreen; */
    align-items: center;
    align-self: flex-start;
    width: 200px;
}

.UserPanelAvatar img {
    height: 100px;
    width: 100px;
    margin-top: 50px;
}

      
.UserPanelInfo {
    display: flex;
    flex-direction: column;
    /* background: grey; */
    height: 200px;
    width: 680px;
}


.UserName {
    font-size: 30px; 
    margin-top: 20px;
    /* background: pink; */
    font-weight: bold;
    color: white;
    text-shadow: grey 2px 2px;
    
}

.UserInfos {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    /* background: white; */
    padding-left: 20px;
}

.UserInfo {
    
}

.Description {
    font-style: italic;
    /* background: rgb(235, 229, 229); */
    background: white;
    width: 450px;
    height: 100px;
    padding-left: 20px;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-style: double;

}

.UserMail {
    /* background: violet; */
    width: 70px;
}

.UserMail img {
    width: 50px;
    height: 50px;
}
    