.ProjectItem {
  display: flex;
  background: green;
  padding: 20px;
}

.ProjectImage {
  display: flex;
  background: red;
  justify-content: center;
  width: 500px;
  align-items: center;
}    

.ProjectImage img {
height: 80%;
width: 80%;

}
    
.DescriptionOfProject {
  display: flex;
  flex-direction: column;
  background: grey;
}