.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: rgb(215, 237, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);

}

.App-logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: 80px;
}

.App-footer {
  background: rgb(215, 237, 240);
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.App-footer a {
  text-decoration: none;
  color: black;
}

.App-link {
  color: #61dafb;
}

@media screen and (max-width: 685px) {
  .App-logo {
    margin-top: 130px;
  }
}
