.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(215, 237, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}
.App-header ul {
  display: flex;
  list-style-type: none;
}

.App-footer {
  background: rgb(215, 237, 240);
  padding: 10px;
}

.App-footer a {
  text-decoration: none;
  color: black;
}

.App-header li {
  margin: 0px 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
