.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(215, 237, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);

}
.App-header a{
  text-decoration: none;
  color: black;
  font-size: 1.6vh;
  font-weight: bold;
}


.App-logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: 80px;
}

.App-footer {
  background: rgb(215, 237, 240);
  padding: 10px;
}

.App-footer a {
  text-decoration: none;
  color: black;
}

.App-link {
  color: #61dafb;
}


