.ProjectList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProjectList-sadPanda {
  width: 350px;
}

.ProjectList-projectListItem {
  margin: 20px 10px;
  width: calc(100% - 20px);
}

.ProjectList-headline {
  width: 80%;
  font-size: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px 50px;
  border: 1px solid blue;
  border-radius: 10px;
  background: rgb(122, 219, 231);
  color: black;
}

