.sign-out-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
}

.add-project-button, .edit-profile, #sign-out {
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin: 3px 5px;
    background-color: rgba(83, 197, 2, 0.925);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;

}

.add-project-button:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.add-project-button:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

#sign-out:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.navbar-user {
color: white;
font-weight: 600;
}

/*------ RWD -------*/
@media screen and (max-width: 700px) {
    .sign-out-navbar {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    .navbar-user {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
}