.UserProjectItem {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px grey;
  background: linear-gradient(270deg, #19d7d0, #07aea8);
  background-size: 400% 400%;
  animation: AnimationName 30s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ProjectImage {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  align-items: center;
}

.ProjectImage img {
  height: 80%;
  width: 80%;
}

.UserGardenProject {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 300px;
  font-size: 22px;
  text-shadow: grey 2px 2px;
  color: rgb(241, 236, 236);
}