.ProjectListItem {
  color: black;
  text-decoration: none;
}

.ProjectListItem-container {
  display: flex;
  background: rgb(54, 211, 54);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid green;
}

.ProjectListItem-container a {
  flex-grow: 1;
  /* width: 100%; */
}

.ProjectListItem-leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ProjectListItem-userInfo {
  display: flex;
  margin-left: 180px;
  border-radius: 0px 70px 70px 70px;
  padding: 20px 10px;
  box-shadow: 5px 5px 15px  black;
  /* border-radius: 10px; */
  background: red;
  background: white;
  width: 400px;
}

.ProjectListItem-userInfo img {
  /* width: 150px; */
  height: 150px;
  border-radius: 100px;
  box-shadow: 1px 5px 15px  black;
  /* margin: 100px; */
}

.ProjectListItem-userInfo h1 {
  font-size: 30px;
  margin: 20px;
}

.ProjectListItem-userInfo p {
  font-size: 18px;
  margin: 20px;
}

.ProjectListItem-fruitIcons {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
}

.ProjectListItem-fruitIcons img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.ProjectListItem-boardImage {
  margin: 0px 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  background: rgb(255, 255, 255);
}

.ProjectListItem-boardImage img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}
.avatar {
  margin: 0 auto;
}
.BoardImage {
  margin-top: -80px;
}