.ProjectListItem {
  color: black;
  text-decoration: none;
}

.ProjectListItem-container {
  display: flex;
  background: rgb(54, 211, 54);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid green;
}

@media screen and (max-width: 400px) {
  .ProjectListItem-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ProjectListItem-leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ProjectListItem-userInfo {
  display: flex;
  margin-right: 10px;
  border-radius: 0px 70px 70px 70px;
  padding: 20px 10px;
  box-shadow: 5px 5px 15px  black;
  flex-grow: 1;
  background: red;
  background: white;
}

.ProjectListItem-userInfo img {
  height: 150px;
  border-radius: 100px;
  box-shadow: 1px 5px 15px  black;
}

.ProjectListItem-userInfo h1 {
  font-size: 30px;
  margin: 20px;
}

.ProjectListItem-userInfo p {
  font-size: 18px;
  margin: 20px;
}

.ProjectListItem-fruitIcons {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 5px 5px 15px black;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  background-color: darkgoldenrod;

}

.ProjectListItem-fruitIcons img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.ProjectListItem-boardImage {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  background: rgb(255, 255, 255);
}

.ProjectListItem-boardImage img {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}
.avatar {
  margin: 0 auto;
}
.BoardImage {
  margin-top: -80px;
}

/* 
-------------------------FRUITS-------------------------
*/

.cell {
  color: red;
  height: 50px;
  width: 50px;
}
.null{
  background-size: cover;
  background-image : url("../grass.jpg");
}
.undefined {
  background-size: cover;
  background-image : url("../grass.jpg");  
}
.tree {
  background: brown;
  background: url("../tree.jpg");
  background-size: cover;
  height: 50px;
  width: 50px;

}
/*
--------------------FRUITS-------------------
*/
.tomato {
  height: 50px;
  width: 50px;
}
.carrot {
  height: 50px;
  width: 50px;
}
.apple {
  height: 50px;
  width: 50px;
}
.plum {
  height: 50px;
  width: 50px;
}
.cherry {
  height: 50px;
  width: 50px;
}
.pear {
  height: 50px;
  width: 50px;
}
.broccoli {
  height: 50px;
  width: 50px;
}
.blueberries {
  height: 50px;
  width: 50px;
}