.cell {
  color: red;
  height: 50px;
  width: 50px;
}
.null{
  background-size: cover;
  background-image : url("../grass.jpg");
  /* background-color: green; */
}
.undefined {
  /* background-color: lightgreen; */
  background-size: cover;
  /* podstawiamy obraz z lokalizacji  */
  background-image : url("../grass.jpg");  
}
.tree {
  background: brown;
  background: url("../tree.jpg");
  background-color: lightgreen;
  background-size: cover;

}
.pond {
  background: url("https://cdn3.iconfinder.com/data/icons/fruits-52/150/icon_fruit_cerejas-512.png");
  background-color: lightgreen;
  background-size: cover;

}
/* 
https://cdn3.iconfinder.com/data/icons/fruits-52/150/icon_fruit_cerejas-512.png
*/