.cell {
  color: red;
  height: 50px;
  width: 50px;
}
.null{
  background: green;
}
.undefined {
  background: green;
  /* podstawiamy obraz z lokalizacji  */
  /* background-image : url(../images/back_02.png);   */
}
.tree {
  /* background: brown; */
  background: url("../tree.png");

}
.pond {
  background: yellow;
}
/* 
https://cdn3.iconfinder.com/data/icons/fruits-52/150/icon_fruit_cerejas-512.png
*/