.EditProfileForm {
    font-size: 17px;
    text-align: start;
    margin: 50px;
    padding: 50px;
    background: white;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 30px solid green;
    background: rgb(54, 211, 54, 0.4);
    padding: 20px;
    border-radius: 10px;
}

.EditProfileFormHeader {
    text-align: center;
    margin-bottom: 20px;
}

.SignText {
    text-align: center;
}

.EditProfileForm input {
    margin-top: 10px;
}

.EditProfileForm label {
    margin: 50px;
}

.EditProfileForm button {
    margin-top: 100px;
    margin-left: 130px;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        height: 40px;
        text-align: center;
        cursor: hand;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        color: white;
        background-color: rgba(83, 197, 2, 0.925);
        border-bottom: 5px solid #669644;
        text-shadow: 0px -2px #669644;
        margin-right: 10px;
        position: absolute;
        z-index: 100;
}

.EditProfileForm button:hover {
    background-color:  rgb(125, 185, 82);
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
    
}

.EditProfileForm img {
    margin-top: 50px;
    margin-left: 30px; 
        width: 90%;
        height: 90%;
        position: relative;
       
} 

.table td {
width: 100px;
}