.menu{
    z-index: 1000;
    align-items: center;
    background-color: #063d4d;
    background: rgba(0,0,0);
    position: fixed;
    width: 100%;
    padding: 2px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin: 0px;
    padding: 15px;
    color: white;
    font-size: 20px;
}

.nav-item:hover {
    background-color: rgba(4, 59, 209, 0.247);
    opacity: 0.5;
}

/*----- RWD -------*/

@media screen and (max-width: 520px) {
    .menu {
        display: flex;
        justify-content: center;
    }
}