.ProjectView-projectAuthor {
    margin-top: 30px;
    /* margin: 0 auto; */
}

.main_box{
    background: gray;
    height: 400px;
}
.top_box{
    background: green;
    height: 200px;
}

.ProjectView-board {
    display: flex;
    justify-content: center;
    background-color: darkgoldenrod;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.BordLegend{
    margin: 0 auto;
    margin-top: 30px;
}
.main_b {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.PushUpBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* ------------------------------- RWD -------------------------------- */

@media screen and (max-width: 685px) {
    .PushUpBox {
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}