.avatar {
  /* border-radius: 50%; */
  border-radius: 0px 50px 50px 0px;

  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid black;
  text-shadow: -1px -3px green, 2px 2px #333;
  margin: 0 auto;
  box-shadow: 1px 1px 15px black;
}

.AvatarNameText {
  display: flex;
  justify-content: center;
  padding: 15px;
  color: black;
  font-size: 40px;
  background: white;
  border-radius: 0px 50px 50px 0px;
  text-align: center;
}
.AvatarLink {
  text-decoration: none;
  color: green;
}
.PrefixBox {
  color: black;
  font-size: 20px;
}
