.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: white;
    border: 1px solid black;
    margin: -100px;
    text-shadow: -1px -3px green, 2px 2px #333;
    margin: 0 auto;

}
.nameBox {
    text-shadow: -1px -3px green, 2px 2px #333;
    position: relative;
    font-size: 50px;
}