.HomeView-main_box{
    background: gray;

   
}
.HomeView-top_box{
    background: green;
    border-radius: 10px;
    width: 70%;
  
}

.HomeView-main_box {
    background: none;
    
}

.HomeView-main_box h1 {
    padding: 0px 20px 20px 20px;
    font-size: 60px; 
}

.HomeView-main_box h4 {
    font-size: 23px;
    text-shadow: 5px 3px 10px rgb(86, 194, 230);
    opacity: 0.5;
    text-align: center;
}
/*--------- RWD -------------*/

@media screen and (max-width: 1200px) {
    .HomeView-top_box {
        width: 90%;
    }
}