.ProjectAuthorLink {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  flex-grow: 1;
  
}

.ProjectAuthor-header {
  margin: 0;
}

.ProjectAuthor-container {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 400px) {
  .ProjectAuthor-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}


.ProjectListItem-userInfo {
  display: flex;
}

.ProjectAuthor {
  margin: auto 0;
  flex-grow: 1;
}
.AvatarAuthor {
  margin: auto;
}
.AvatarCloudTextBox {
  width: 700px;
}