.ProjectAuthorLink {
  color: black;
  text-decoration: none;
  display: flex;
  margin: 10px;
  
  
}

.ProjectAuthor-header {
  margin: 0;
}

.ProjectAuthor-photo {
  
}
.ProjectListItem-userInfo {
  display: flex;
  /* margin: 0%; */
}
.ProjectAuthor {
  margin: auto;
  margin-left: -100px
}
.AvatarAuthor {
  margin: auto;
}
.AvatarCloudTextBox {
  width: 700px;
}